<a href="https://colab.research.google.com/github/anirudhsuresh/APEX/blob/main/measures_for_emails_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import collections
import pandas as pd
import os
import json
import re

In [ ]:
emails_path='/content/drive/MyDrive/$ Nov Apache Data /network_data/emails/'
result_path='/content/drive/MyDrive/$ Nov Apache Data /2022_new_data/email_measures/'

In [ ]:
to_id='/content/drive/MyDrive/$ Nov Apache Data /name_to_id.json'

In [ ]:
measures='/content/drive/MyDrive/$ Nov Apache Data /measures'

In [ ]:
all_emails=os.listdir(emails_path)
n=len(all_emails)
n

6036

In [ ]:
all_emails=os.listdir(result_path)
n=len(all_emails)
n

6036

In [ ]:
all_emails.sort()

In [ ]:
all_emails.sort()
d={}
for f in range(n):
  filez=all_emails[f]
  if filez.split('__')[1].split('.')[0]=='0':
    d[filez.split('__')[0]]=1
projects_to_change=d

In [ ]:
def make_the_nested_list(normal_data_frame,project_name,month):
  df_list=df['content'].tolist()
  result=[]
  for i in df_list:
    myorder = [1,0,2]
    mylist=i.split('##',3)
    try:
      mylist = [mylist[i] for i in myorder]
    except IndexError:
      continue
    result.append(mylist)

  answers=[int(i[2]) for i in result]
  
  dev=[i[0] for i in result]
  devs=len(list(set(dev)))
  # per_dev=sum(answers)//devs

  # n=[sum(answers),devs,per_dev]
  try :
    per_dev=sum(answers)//devs

    n=[sum(answers),devs,per_dev]
  except ZeroDivisionError:
    res.append([project_name,month])
    n=[1,1,1]
  return n

In [ ]:
def check_current_name(cur_prj_name,cur_prj_month):



    if cur_prj_name in projects_to_change:
      cur_prj_month=int(cur_prj_month)
      cur_prj_month+=1
    else:
      return cur_prj_month
    #   new_name='p'+str(name_to_id_mapping[cur_prj_name])+'m'+str(cur_prj_month)+'_'+'commits'+'.json'
    # else:
    #   new_name='p'+str(name_to_id_mapping[cur_prj_name])+'m'+str(cur_prj_month)+'_'+'commits'+'.json'

    return cur_prj_month

In [ ]:
def create_json_files_emails(p_l):
  d={}
  # json_file['num_emails'] = p_l[0]
  # json_file['num_senders'] = p_l[1]
  # json_file['email_per_dev'] = p_l[1]
  d['num_emails']=p_l[0]
  d['num_senders']=p_l[1]
  d['email_per_dev']=p_l[1]
  return d

In [ ]:
def extract_number(input_string):
  res=re.findall(r'\d+',input_string)
  return res[0]
def extract_name(ans1):

  regex = re.compile('[^a-zA-Z]')
  #First parameter is the replacement, second parameter is your input string
  a=regex.sub('',ans1.split('_')[0] )
  return a

In [ ]:
all_emails[0]

'abdera__0.edgelist'

In [ ]:
n

6036

In [ ]:
i=[]
if not i:
  print()

[]

In [ ]:
filez1

'abdera__1.edgelist'

In [ ]:
res=[]
for f in range(1):
  # for commits
  # all_emails[0:30]
  filez1=all_emails[f]
  project_name=filez1.split('__',1)[0]
  month=filez1.split('__',1)[1].split('.')[0]

  df=pd.read_csv(emails_path+'/'+filez1,names=['content'])
  df_list=df['content'].tolist()

  r=(make_the_nested_list(df,project_name,month))
  
  out=check_current_name(project_name,month)

  answer1=create_json_files_emails(r)
  ### 

  x = json.dumps (answer1)
  ### 

  # with open(result_path+filez1.split('__',1)[0]+'_'+str(out)+'.json', 'w') as f:
  #   f.write(str(x))

In [ ]:
df

                               content
0            james m snell##ugo cei##5
1    james m snell##stephen duncan##98
2       james m snell##paul querna##12
3   james m snell##garrett rooney##110
4     james m snell##martin cooper##13
..                                 ...
67          joe kim##garrett rooney##8
68      robert sayre##james m snell##7
69    robert sayre##stephen duncan##11
70            robert sayre##joe kim##6
71     robert sayre##garrett rooney##3

[72 rows x 1 columns]

In [ ]:
filez1=all_emails[1]
project_name=filez1.split('__',1)[0]
month=filez1.split('__',1)[1].split('.')[0]

df=pd.read_csv(emails_path+'/'+filez1,names=['content'])

IndexError: ignored

----

In [ ]:
 df_list=df['content'].tolist()

In [ ]:
df_list

[]

In [ ]:
r=[]
for f in range(n):
  # for commits
  
  filez1=all_emails[f]
  project_name=filez1.split('__',1)[0]
  month=filez1.split('__',1)[1].split('.')[0]

  df=pd.read_csv(emails_path+'/'+filez1,names=['content'])
  r=(make_the_nested_list(df))
  
  out=check_current_name(project_name,month)
  json_path=measures+'/'+out
  try:
    f = open(json_path)
    json_file = json.load(f)
    answer1=create_json_files_emails(r,json_file)
    ### 

    x = json.dumps (answer1)
    ### 

    with open(e_result_path+out, 'w') as f:
      f.write(str(x))
  except FileNotFoundError:
    continue

In [ ]:
measures

'/content/drive/MyDrive/$ Nov Apache Data /measures'

In [ ]:
r=[]
for f in range(n):
  # for commits
  
  filez1=all_emails[f]
  project_name=filez1.split('__',1)[0]
  month=filez1.split('__',1)[1].split('.')[0]

  df=pd.read_csv(emails_path+'/'+filez1,names=['content'])
  r=(make_the_nested_list(df))
  
  out=check_current_name(project_name,month)
  json_path=measures+'/'+out
 
  answer1=create_json_files_emails(r)
  ### 

  x = json.dumps (answer1)
  ### 

  with open(e_result_path+out, 'w') as f:
    f.write(str(x))

In [ ]:
all_emails.sort()

In [ ]:
n

6036

In [ ]:
# ---------

In [ ]:
# n=len(all_emails)
# # number of projects to change the file name for 
# projects_to_change=[]
# for i in range(n):
#   fo=all_emails[i]
#   # read the file
#   # get the mentor list for this project
#   c=fo.split('__')[0]
#   p=extract_name(c)
#   digit=fo.split('__')[1].split('.')[0]
  
#   if digit is '0':
#     if p not in projects_to_change:
#       projects_to_change.append(p)
# projects_to_change.sort()

In [ ]:
# def make_the_nested_list(normal_data_frame):
#   df_list=df['content'].tolist()
#   result=[]
#   for i in df_list:
#     myorder = [1,0,2]
#     mylist=i.split('##',3)
#     try:
#       mylist = [mylist[i] for i in myorder]
#     except IndexError:
#       continue
#     result.append(mylist)

#   answers=[int(i[2]) for i in result]
  
#   dev=[i[0] for i in result]
#   devs=len(list(set(dev)))
#   try :
#     per_dev=sum(answers)//devs

#     n=[sum(answers),devs,per_dev]
#   except ZeroDivisionError:
#     n=[1,1,1]
#   return n

In [ ]:
# with open(to_id, 'r') as f:
#        name_to_id= json.load(f)
# # 
# test_values=list(name_to_id.values())
# # 
# name=list(name_to_id)
# # 
# test_keys=[i.split(' ')[0].lower().strip() for i in name_to_id ]
# # 
# name_to_id_mapping = {test_keys[i]: test_values[i] for i in range(len(test_keys))}
# key=list(name_to_id_mapping.values())
# k=[int(i) for i in key]
# k.sort()
# curre=k[-1]
# name_to_id_mapping
# i=312
# for file in all_emails:
#   prj_name=file.split('__',1)[0]
#   if prj_name not in name_to_id_mapping:
#     name_to_id_mapping[prj_name]=i
#     i+=1

#   else:
#     continue

In [ ]:
def check_current_name(cur_prj_name,cur_prj_month):



    if cur_prj_name in projects_to_change:
      cur_prj_month=int(cur_prj_month)
      cur_prj_month+=1
      new_name='p'+str(name_to_id_mapping[cur_prj_name])+'m'+str(cur_prj_month)+'.json'
    else:
      new_name='p'+str(name_to_id_mapping[cur_prj_name])+'m'+str(cur_prj_month)+'.json'
    #       new_name='p'+str(name_to_id_mapping[cur_prj_name])+'m'+str(cur_prj_month)+'_'+'emails'+'.json'
    # else:
    #   new_name='p'+str(name_to_id_mapping[cur_prj_name])+'m'+str(cur_prj_month)+'_'+'emails'+'.json'

    return new_name